* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    height: 90vh;
    background-color: rgb(61, 60, 60);
    position: relative;
    /* top: 60px;
    left: 140px; */
    margin: 5vh auto;
    
    
}
         /* side bar starts here */
aside {
    width: 48%;
    height: 100%;
    background-color: rgb(233, 103, 27);
    position: absolute;

     clip-path: circle(65.7% at 15% 49%);
   
   
    
}
  
                         /* shoe image */

.shoe{
    height: 350px;
    position: absolute;
    top: 150px;
    left: -100px;
    
}
                       /* right and left arrow icon */

.icon{
    position:absolute;
    bottom: 80px; 
    left:150px;
    color: antiquewhite;
    font-size:30px ;
    cursor: pointer;

}
 
    .icon i.left:hover,
.icon i.right:hover {
    color: black;}

                          /*nav bar starts here */

.productinfo{
    width: 35%;
 position: absolute;
 top: 20px;
 left: 50%;
 display: inline-block;
  margin-top: 50px;
}

.productinfo h1{
    color: rgb(233, 103, 27);
    font-size: 50px;
    /* display: inline-block;  */
    width: 300px;
    }
 .productinfo .search , .productinfo .user, .productinfo .cart{ color: white;
    width: 30px;
    display: inline-block;}
/* .productinfo i{
    color: white;
    width: 30px;
    display: inline-block;
} */

 .productinfo .search:hover, .productinfo .user:hover, .productinfo .cart:hover{
    color:rgb(233, 103, 27) ;
    cursor: pointer;
}
                    /* section starts here */

.details{
    width: 50%;
    height: 60px;
    position: absolute;
    top:30% ;
    left: 50%;
    
}
h2{
    color: aliceblue;
}
.name {
font-weight: 200;
color: aliceblue;
font-size:32px ;
line-height: 80px;
display: block;
}
h4 {
  display: inline-block;
  color: #ffffff;
  font-family: "muli";
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
  }

 h4.dis{
    display: inline-block;
     }
.dis{
    text-decoration: line-through red;
    
}
                              /* size selection  */
 #size{color: #ffffff;
margin-top: 10px; }


.size-list  {
    list-style-type: none;
    position: absolute;
    top: 300%;
    left: 3%;
     font-size: small;
    }
    .size-list li{
        margin-top: 20px;
    }

 li{
    display: inline-block;
    color: #ffffff;
}


.bg{ 
    padding: 2px; 
    width: 15px;
  height: 15px;
  text-align: center;
    
} 
.bg:hover{
    background-color:rgb(233, 103, 27) ;
     width: 20px;
    height: 20px;
     border-radius: 50%;
    cursor:pointer ;
} 

                           /* color selection style */

.color-box{
/* position: absolute;
width: 200px;
margin-top: 50px;
display: inline-block; */
 margin-top: 20px;
    display: block;
    padding-left: 0;
}


#color{
    color: #ffffff;
}

.color{
    width:20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;   margin:0 15px 0 0px; 
}

 .yellow{
background-color: yellow;

 }
 .black{
background-color: black;
 }

 .blue{background-color: rgb(34, 168, 221);

 }

 .yellow:hover , .black:hover, .blue:hover{
    border: 2px solid rgb(233, 103, 27);
 }
              /* footer section */

 .buy{
    width: 500px;
    position: absolute;
    top:230px ;
    margin-top: 30px;
    color: #ffffff;
 }

 .buy span {
    margin: 0 20px 0 0px;
 }

.bag:hover, .shop:hover{
cursor: pointer; 
color:rgb(233, 103, 27)
}
 /* the end :) */


                        /*                         media queries                   */

@media (max-width: 700px)  {

    /* CONTAINER */
    .container {
        width: 100%;
     height: 100%; 
    
        background-color: rgb(61, 60, 60);
        position: static;
        overflow-y: visible;
    }

    /* ASIDE PART */
    aside {
        width: 100%;
        height: 260px;
        clip-path: circle(90% at 50% 0%);
        position: static;
        display: block;
    }

    /* SHOE IMAGE */
    .shoe {
        position: static;
        display: block;
        margin: -200px auto 0 auto; 
        height: 250px;
        
        margin-top: 50px;
    }

    /* NAV (PRODUCTINFO) */
    .productinfo {
        width: 100%;
        position: static;
        margin-top: 20px;
        text-align: center;
    }

    .productinfo h1 {
        font-size: 30px; 
        
    }
    .productinfo i {
        margin: 0 12px;
        font-size: 15px;
    }

    /* DETAILS SECTION */
    .details {
        width: 100%;
        position: static;
        margin-top: 30px;
        padding: 20px;
        text-align: center;
    }

    .details h2 {
        font-size: 22px;
    }
    .details .name {
        font-size: 20px;
        line-height: 45px;
    }

    /* SIZE LIST */
    .size-list {
        position: static;
        margin-top: 20px;
    }
    .size-list li {
        margin: 10px;
    }

    /* COLOR BOX */
    .color-box {
        margin-top: 25px;
    }

    /* BUY BUTTONS */
    .buy {
        width: 100%;
        position: static;
        margin-top: 30px;
        text-align: center;
    }
    .buy span {
        display: inline-block;
        margin: 10px;
        padding: 8px 15px;
        background: black;
        border-radius: 5px;
    }
}




